<div class="user-post-tabs">
  <input id="posts" type="radio" name="tab-item" checked>
  <label class="tab-item" for="posts">Posts</label>
  <% if user_signed_in? && current_user.id == user.id %>
    <input id="bookmarks" type="radio" name="tab-item">
    <label class="tab-item" for="bookmarks">Bookmarks</label>
  <% end %>
  <div class="tab-content" id="posts-content">
    <%= render 'users/user_post_contents', user_posts: user_posts %>
  </div>
  <% if user_signed_in? && current_user.id == user.id %>
    <div class="tab-content" id="bookmarks-content">
      <%= render 'users/user_bookmark_post_contents', user_bookmark_posts: user_bookmark_posts %>
    </div>
  <% end %>
</div>