<div class="user-profile-content">
  <div class="profile-img">
    <img class="profile-img__icon" src="https://picsum.photos/190/190" alt="">
  </div>
  <div class="profile-info">
    <div class="profile-info__name">中田敦彦のYouTube大学</div>
    <div class="profile-info__txt">SIerで働く20代半ばのエンジニア。業務では、様々な課題を自動化やツール開発を行い解決しています。Pythonを用いての検証自動化やEelデスクトップアプリ開発、GASを用いた簡易Webアプリ開発等をしています。Web系エンジニアを目指しRails勉強中。色々なエンジニアさん達と知り合い技術を高めたいです！</div>
    <div class="profile-info__edit">変更</div>
  </div>
</div>