<div id="notification">
  <div id="notification__txt"></div>
</div>
<script>
  var notice = (msg) => {
    let notification = document.getElementById('notification');
    let notificationContent = document.getElementById('notification__txt');
    notificationContent.innerHTML = msg;
    notification.style.visibility = 'visible';
    setTimeout(() => {
            notificationContent.innerHTML = '';
            notification.style.visibility = 'hidden';
    }, 4500);
  };
  <% if flash[:notice] %>
    notice("<%= flash[:notice]%>");
  <% end %>
</script>