<div class="post-tag-container">
  <%= render 'posts/post_tag_header', tag: @tag %>
  <div class="post-tag-main-container">
    <% @posts.each do |post| %>
      <%= render 'shared/post_card', post: post %>
    <% end %>
    <%= paginate @posts %>
  </div>
  
</div>
