<div class="post-header">
  <div class="post-header__count">
  　<span class="post-header__count-txt">投稿数：</span>
    <span class="post-header__count-num" id="post-header__count-num"><%= Post.count %></span>
  </div>
</div>