<div class="post-comment-container">
  <div class="comment-header">5件のコメント</div>
  <div class="comment-form">
    <div class="comment-form__icon"></div>
    <div class="comment-form__main">
      <textarea rows="1" placeholder="コメントを入力..."></textarea>
      <button></button>
    </div>
  </div>
  <div class="comment-content">
    <div class="comment-content__icon"></div>
    <div class="comment-content__main">
      <div class="comment-info">
        <div class="comment-nfo__username">Duck</div>
        <div class="comment-info__date">・3日前</div>
      </div>
      <div class="comment-content__main-txt">Damn, GC know how to better showcase this bass than Fender themselves! <br>Don't think Fender did their artist any justice in that video</div>
    </div>
  </div>
  <div class="comment-content">
    <div class="comment-content__icon"></div>
    <div class="comment-content__main">
      <div class="comment-info">
        <div class="comment-nfo__username">Duck</div>
        <div class="comment-info__date">・3日前</div>
      </div>
      <div class="comment-content__main-txt">Damn, GC know how to better showcase this bass than Fender themselves!  <br>Don't think Fender did their artist any justice in that video</div>
    </div>
  </div>
  <div class="comment-content">
    <div class="comment-content__icon"></div>
    <div class="comment-content__main">
      <div class="comment-info">
        <div class="comment-nfo__username">Duck</div>
        <div class="comment-info__date">・3日前</div>
      </div>
      <div class="comment-content__main-txt">Damn, GC know how to better showcase this bass than Fender themselves!  <br>Don't think Fender did their artist any justice in that video</div>
    </div>
  </div>
  <div class="comment-content">
    <div class="comment-content__icon"></div>
    <div class="comment-content__main">
      <div class="comment-info">
        <div class="comment-nfo__username">Duck</div>
        <div class="comment-info__date">・3日前</div>
      </div>
      <div class="comment-content__main-txt">Damn, GC know how to better showcase this bass than Fender themselves! Don't think Fender did their artist any justice in that video</div>
    </div>
  </div>
  <div class="comment-content">
    <div class="comment-content__icon"></div>
    <div class="comment-content__main">
      <div class="comment-info">
        <div class="comment-nfo__username">Duck</div>
        <div class="comment-info__date">・3日前</div>
      </div>
      <div class="comment-content__main-txt">Damn, GC know how to better showcase this bass than Fender themselves! Don't think Fender did their artist any justice in that video</div>
    </div>
  </div>
</div>
