<% if user_signed_in? && !(current_user.id == post.user_id) %>
  <div class="info-action__bookmark-logo" id="post-bookmark-<%= post.id %>">
    <% if post.is_bookmarked_by?(current_user) %> 
      <%= render 'posts/bookmarked', post: post %>
    <% else %>
      <%= render 'posts/non_bookmarked', post: post %>
    <% end %>
  </div>
<% end %>