$mian-color: linear-gradient(100deg, #ff2846 25%, #ff7a5a 100%);
$sub-color:  #d0d0d0;

@mixin bg-main-color {
    background: $mian-color;
}

@mixin border-main-color($px: 2px) {
    border: $px solid;
    border-image: $mian-color;
    border-image-slice: 1;
}

@mixin border-sub-color($px: 2px) {
    border: $px solid $sub-color;
}