@import 'common/color';
@import 'common/format';

#notification {
    width: 250px;
    height: 40px;
    @include just-text;
    visibility: hidden;
    z-index: 99;
    @include bg-main-color;
    border-radius: 10px;
    box-shadow: 5px 5px 5px $sub-color;
    opacity: 0.9;
    padding: 0.5em 1em;
    margin: 1rem 0;
    position: fixed;
    top: 80px; 
    right: 30px;
    &__txt {
        margin: 0; 
        padding: 0;
        color: #fff;
    }
}