@import 'common/color';
@import 'common/format';

@mixin pagination-template($width-px, $height-px) {
    .pagination {
        border: 1px solid $sub-color;
        border-radius: 15px;
        display: flex;
        .page {
            width: $width-px;
            height: $height-px;
            @include just-text;
            &.current {
                @include bg-main-color;
                color: #fff;
            }
            a {
                color : inherit;
                text-decoration: none;
            }
        }
    }
}