@import 'common/color';
@import 'common/format';

header {
    height: 70px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #fff;
 
    .header-logo {
        margin-left: 30px;
        &__img {
            width: 100px;
            height: 50px;
            object-fit: cover;
        }
    }
    .header-search {
        width: 600px;
        // border: 1px solid black;
        margin-left: 300px;
    }
    .header-post {
        width: 150px;
        margin-left: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .header-login {
        width: 150px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        &__link {
            width: 150px;
            height: 30px;
            @include bg-main-color;
            color: #fff;
            font-size: 1.2em;
            font-weight: bold;
            border-radius: 100vh;
            text-decoration: none;
            cursor: pointer;
            @include just-text;
            &:hover {
                background: #fff;
                color: #000000;
                margin: -2px;
                border: 2px solid red;
                margin: -2px;
            }
        }
    }
}