@import 'common/color';
@import 'common/format';

.header-container {
    height: 100%;
    margin: 0 auto;
    display: flex;
    .section-left {
        display: flex;
        width: calc(100% / 3);
        justify-content: flex-start;
        .header-drawer {
            margin-left: 30px;
        }
        .header-logo {
            margin-left: 30px;
            @include just-block;
            &__img {
                width: 150px;
                height: 50px;
                display: block;
                object-fit: cover;
            }
        }
    }
    .section-center {
        display: flex;
        width: calc(100% / 3);
        justify-content: space-around;
    }
    .section-right {
        display: flex;
        width: calc(100% / 3);
        justify-content: flex-end;
        .header-post {
            margin-right: 30px;
            @include just-block;
        }
        .header-icon {
            margin-right: 50px;
            @include just-block;
            &__img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: block;
                @include bg-main-color;
                &:hover {
                    opacity: 0.8;
                } 
            }
        }
        .header-login {
            margin-right: 50px;
            @include just-block;
            &__item {
                width: 80px;
                height: 30px;
                border: 1px solid $sub-color;
                border-radius: 10px;
                text-decoration: none;
                font-size: 0.8rem;
                color: inherit;
                cursor: pointer;
                @include just-text;
                &:hover {
                    border: 1px solid red;
                }
            }
        }
    }
}