@import 'common/color';
@import 'common/format';

.post-comment-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    .comment-header {
        height: 2rem;
        margin: 20px auto 10px auto;
        font-size: 1.1rem;
        width: 100%;
    }
    .comment-form {
        height: 70px;
        width: 85%;
        margin: 0 auto;
        margin-bottom: 10px;
        display: flex;
        &__icon {
            width: 60px;
            height: 40px;
            object-fit: cover;
            @include bg-main-color;
        }
        &__main {
            width: 100%;
            textarea {
                width: 100%;
                display: block;
                resize: none;
                box-shadow: none;
                border-radius: 0;
                border: 2px solid #ccc;
                outline: none;
                border-style: none none solid none;
                transition: all 0.3s;
                &:focus {
                    border-color: red;
                    &-within {
                        transform: scale(1.01, 1.01);
                    }
                }
            }
            button {
                display: block;
                width: 80px;
                height: 25px;
                @include bg-main-color;
                color: #fff;
                font-size: 1em;
                font-weight: bold;
                border-radius: 15px;
                border-style: none;
                cursor: pointer;
                margin: 7px 0 0 auto;
                &:hover {
                    background: #fff;
                    color: #000000;
                    border: 2px solid red;
                }
            }
        }
    }
    .comment-content {
        width: 85%;
        margin: 0 auto;
        display: flex;
        margin-bottom: 20px;
        border-top: 1px solid $sub-color;
        &__icon {
            width: 60px;
            object-fit: cover;
            @include bg-main-color;
        }
        &__main {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            margin-left: 10px;
            .comment-info {
                display: flex;
                &__username {
                    font-size: 0.8rem;
                    width: 100%;
                    height: 1rem;
                }
            }
            &-txt {
                width: 100%;
                font-size: 0.85rem;
            }
        }
    }
}