@import 'common/color';
@import 'common/format';

.post-tag-header {
    height: 100px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    &__name {
        font-size: 1.4rem;
        margin: 40px 0;
        @include just-text;
    }
}