@import 'common/color';
@import 'common/format';

.post-content-container {
    display: flex;
    width: 75%;
    margin: 0 auto;
    .post-content {
        width: 100%;
        display: grid;
        margin: 30px auto;
        grid-template-rows: 50px 50px 80px 280px;
        grid-template-columns: 80px 1fr;
        grid-template-areas:
            "icon label  "
            "icon info   "
            "icon comment"
            "icon main   ";
        &__space {
            grid-area: space;
        }
        &__icon {
            grid-area: icon;
            &-img {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                object-fit: cover;
                margin: auto;
                display: block;
            }
        }
        &__label {
            grid-area: label;
            font-size: 1em;
            display: flex;
            align-items: center;
            &-username {
                font-weight:bolder;
                font-size: 1.1em;
                margin-right: 10px;
            }
            &-date {
                margin-left: 10px;
                font-size: 0.8em;
            }
        }
        &__info {
            grid-area: info;
            display: flex;
            align-items: center;
            &-ttl {
                height: 40px;
                width: 50%;
                background-color: #fff;
                border-radius: 15px 0 0 15px;
                font-weight:bolder;
                font-size: 1.1em;
                @include just-text;
            }
            &-genre {
                height: 40px;
                width: 10%;
                background-color: #fff;
                border-left: 1px solid $sub-color;
                margin: auto;
                @include just-text;
            }
            &-hash {
                height: 40px;
                width: 20%;
                border-left: 1px solid $sub-color;
                background-color: #fff;
                margin: auto;
                @include just-text;
            }
            &-action {
                width: 20%;
                background-color: #fff;
                border-radius: 0 15px 15px 0;
                .info-action {
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    border-left: 1px solid $sub-color;
                    &__reply-logo {
                        width: 20%;
                        color: #87cefa;
                        @include just-text;
                    }
                    &__favorite-logo {
                        width: 20%;
                        @include just-text;
                        &-marked {
                            color: #ff69b4;
                        }
                        &-nonmarked {
                            color: #c0c0c0;
                            &:hover {
                                color: #ff69b4;
                            }
                        }
                    }
                    &__bookmark-logo {
                        width: 20%;
                        @include just-text;
                        &-marked {
                            color: #ffd700;
                        }
                        &-nonmarked {
                            color: #c0c0c0;
                            &:hover {
                                color: #ffd700;
                            }
                        }
                    }
                    &__reply-number {
                        width: 10%;
                        font-size: 0.8em;
                        @include just-text(left);
                    }
                    &__favorite-number {
                        width: 10%;
                        font-size: 0.8em;
                        @include just-text(left);
                    }
                    &__delete-logo {
                        width: 20%;
                        color: #c0c0c0;
                        @include just-text;
                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
        &__comment {
            grid-area: comment;
            text-align: center;
            display: flex;
            align-items: center;
            &-txt {
                height: 60px;
                width: 50%;
                font-size: 0.8em;
                background-color: #fff;
                border-radius: 15px;
                padding-left: 10px;
                @include just-text(left);
            }
        }
        &__main {
            grid-area: main;
            display: flex;
            justify-content: space-around;
            .card {
                width: 280px;
                height: 280px;
                background-color: #fff;
                border-radius: 15px;
                overflow: hidden;
                a {
                    text-decoration: none;
                    color: black;
                }
                &__img {
                    width: 100%;
                    height: 150px;
                    overflow: hidden;
                    &-cont {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition:0.2s all;
                    }
                }
                &:hover {
                    box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.6);
                    .card__img-cont {
                        transform:scale(1.1,1.1);
                        transition:0.2s all;
                    }
                }
                &__info {
                    height: 130px;
                    &-ttl {
                        height: 30%;
                        font-size: 0.8em;
                        @include just-text;
                        border-bottom: 1px solid $sub-color;
                    }
                    &-txt {
                        font-size: 0.72em;
                        margin: 7px;
                    }
                }
            }
        }
    }
}