@import 'common/color';
@import 'common/format';

.post-comment-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    .comment-header {
        height: 2rem;
        margin: 20px auto 10px auto;
        font-size: 1.1rem;
        width: 100%;
    }
    .comment-errors {
        width: 50%;
        margin: 0 auto 20px auto;
        &.active {
            background-color: #ffe8ec;
            border: 1px solid red;
            border-radius: 7px;
            @include just-text(left);
            ul {
                list-style: none;
                color: red;
                font-size: 0.75em;
            }
        }
    }
    .comment-form {
        height: 70px;
        width: 85%;
        margin: 0 auto;
        margin-bottom: 10px;
        display: flex;
        &__icon {
            width: 60px;
            height: 40px;
            &-img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                @include bg-main-color;
                display: block;
            }
        }
        &__main {
            width: 94%;
            .post-comment-form {
                &__body {
                    width: 100%;
                    display: block;
                    resize: none;
                    box-shadow: none;
                    border-radius: 0;
                    border: 2px solid #ccc;
                    outline: none;
                    border-style: none none solid none;
                    transition: all 0.3s;
                    &:focus {
                        border-color: red;
                        &-within {
                            transform: scale(1.01, 1.01);
                        }
                    }
                }
                &__btn {
                    display: block;
                    width: 80px;
                    height: 25px;
                    font-size: 0.8rem;
                    border-style: none;
                    color: #fff;
                    background-color: $sub-color;
                    cursor: pointer;
                    margin: 7px 0 0 auto;
                    &:hover {
                        @include border-main-color(1px);
                        background-color: #fff;
                        color: #000;
                    }
                }
            }
        }
    }
    .comment-content {
        width: 85%;
        margin: 0 auto;
        display: flex;
        margin-bottom: 20px;
        border-top: 1px solid $sub-color;
        &__icon {
            width: 50px;
            margin-top: 4px;
            &-img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                @include bg-main-color;
                display: block;
                
            }
        }
        &__main {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            margin-left: 10px;
            .comment-info {
                &__username {
                    font-size: 0.8rem;
                    height: 1rem;
                }
                &__date {
                    font-size: 0.8em;
                    color: #606060;
                }
                &__delete {
                    font-size: 0.8em;
                    color: #606060;
                    &:hover {
                        color: red;
                    }
                }
            }
            &-txt {
                width: 100%;
                font-size: 0.85rem;
            }
        }
    }
}