@import 'common/color';
@import 'common/format';
@import 'common/pagination';
@import 'post_card';

.user-profile-container {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    @include just-block;
    .user-profile-content {
        width: 900px;
        height: 200px;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0px 0px 12px -6px rgba(0,0,0,0.6);
        display: flex;
        .profile-img {
            width: 28%;
            display: flex;
            flex-direction: column;
            &__icon {
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include bg-main-color;
                border-radius: 15px;
            }
        }
        .profile-info {
            width: 72%;
            position: relative;
            &__name {
                text-align: center;
                font-size: 1.5rem;
                margin: 10px 0;
                border-bottom: 1px solid $sub-color;
            }
            &__txt {
                padding-left: 10px;
                margin-bottom: 10px;
                font-size: 0.95rem;
                padding-bottom: 5px;
                p {
                    margin: 5px 0 5px 0;
                    color: #666666;
                }
            }
            &__edit {
                width: 50px;
                position: absolute;
                @include bg-main-color;
                border: 1px solid #fff;
                @include just-text;
                color: #fff;
                opacity: 0.7;
                border-radius: 10px;
                font-size: 0.9rem;
                bottom: 0;
                right: 0;
                &:hover {
                    cursor: pointer;
                    background: #222;
                    color: #fff;
                }
            }
        }
    }
}

.user-post-container {
    .user-post-tabs {
        margin-top: 50px;
        padding-bottom: 40px;
        background-color: #f0f0f0;
        box-shadow: 0px 0px 12px -6px rgba(0,0,0,0.6);
        width: 900px;
        margin: 0 auto;
        .tab-item {
            width: calc(100%/2);
            height: 50px;
            background-color: #fff;
            line-height: 50px;
            font-size: 1.1rem;
            text-align: center;
            color: #565656;
            display: block;
            float: left;
            font-weight: bold;
            transition: all 0.2s ease;
        }
        .tab-item:hover {
            opacity: 0.85;
        }
        input[name="tab-item"] {
            display: none;
        }
        .tab-content {
            display: none;
            padding: 40px 40px 0;
            clear: both;
            overflow: hidden;
            &__main {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .post-card {
                    @include post-card-template;
                    margin-bottom: 50px;
                }
                &::before {
                    content: "";
                    display: block;
                    width: 300px;
                    order: 1;
                }
                &::after {
                    content: "";
                    display: block;
                    width: 300px;
                }
            }
            &__pagination {
                @include just-block;
                @include pagination-template(50px, 30px);
                
            }
        }
        #posts:checked ~ #posts-content,
        #bookmarks:checked ~ #bookmarks-content {
            display: block;
        }
        input:checked + .tab-item {
            @include bg-main-color;
            color: #fff;
        }
    }
}

.modal-profile-open {
    width: 150px;
    height: 30px;
    @include bg-main-color;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    @include just-text;
    &:hover {
        background: #fff;
        color: #000000;
        margin: -2px;
        border: 2px solid red;
        margin: -2px;
    }
}
.modal-profile-form {
    width: 600px;
    height: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    min-width: 500px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    overflow: hidden;
    &.active {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%) scale(1);
    }
    .modal-profile-cancel {
        font-size: 1.1rem;
        &:hover {
            color: red;
            cursor: pointer;
        }
    }
    &__header {
        font-weight: bold;
        font-size: 1.05rem;
        margin-bottom: 1.8em;
        @include just-text;
    }
    .form {
        width: 100%;
        .profile-form-errors {
            &.active {
                background-color: #ffe8ec;
                border: 1px solid red;
                border-radius: 7px;
                ul {
                    list-style: none;
                    color: red;
                    font-size: 0.75em;
                }
            }
        }
        .form-group-file {
            margin-bottom: 40px;
            &__flame {
                position: relative;
                .form-label-file {
                    width: 100px;
                    height: 100px;
                    display: block;
                    @include bg-main-color;
                    @include border-sub-color(4px);
                    border-radius: 50%;
                    opacity: 0.8;
                    margin: 0 auto 30px auto;
                }
                .form-label-file-icon {
                    position: absolute;
                    color: #fff;
                    background-color: #000;
                    border-radius: 50%;
                    cursor: pointer;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                .form-control-file {
                    display: none;
                }
            }
        }
        .form-group {
            width: 100%;
            margin-bottom: 1rem;
            .form-label {
                width: 80%;
                margin: 0 auto;
                font-size: 0.8em;
                color: #aaa;
                display: block;
                opacity: 1;
                transform: translateY(-2em);
                transform-origin: 0 0;
                transition: all 0.3s;
            }
            .form-control {
                width: 80%;
                display: block;
                box-shadow: none;
                border-radius: 0;
                border-color: #ccc;
                border-style: none none solid none;
                font-size: 1em;
                margin: 0 auto;
                transition: all 0.6s;
                &::placeholder {
                    color:transparent;
                }
                &:focus {
                    box-shadow: none;
                    border-color: red;
                    outline: none;
                    &-within {
                        transform: scale(1.02, 1.02);
                    }
                    &+.form-label {
                        transform: translateY(-3.3em);
                    }
                }
                &:not(:placeholder-shown) + .form-label {
                    transform: translateY(-3.3em);
                }
                &:valid:focus {
                    border-color: green;
                }
            }
            .form-control-area {
                @extend .form-control;
                height: 70px;
                border: 2px solid #ccc;
                &:focus + .form-label {
                    transform: translateY(-7.7em);
                }
                &:not(:placeholder-shown) + .form-label {
                    transform: translateY(-7.7em);
                }
            }
        }
        textarea {
            resize: none;
        }
        .form-btn {
            display: flex;
            justify-content: space-around;
            margin-top: 1em;
            &__profile {
                width: 80%;
                height: 2rem;
                @include bg-main-color;
                color: #fff;
                font-size: 1rem;
                font-weight: bold;
                border-radius: 5px;
                border-style: none;
                cursor: pointer;
                &:hover {
                    background: #fff;
                    color: #000000;
                    border: 1px solid red;
                }
            }
        }
    }
}
.modal-profile-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    &.active {
        opacity: 0.5;
        visibility: visible;
    }
}
