<div class="post-tag-container">
  <%= render 'posts/post_tag_header', tag: @category %>
  <div class="post-head-container">
    <% @posts.each do |post| %>
      <%= render 'shared/post_head_content', post: post %>
    <% end %>
  </div>
</div>
