<div class="post-tag-container">
  <%= render 'posts/post_tag_header', tag: @category %>
  <div class="post-tag-main-container">
    <div class="post-tag-content" id="posts-content">
      <%= render 'categories/post_tag_content', posts: @posts %>
    </div>
  </div>
</div>
