<footer>
  <div class="footer-container">
    <section class="section-left">
      <div class="footer-top">
        <%= link_to "TOP", root_path, "data-turbolinks": false, class: "footer-top__txt" %>
      </div>
      <div class="footer-about">
        <%= link_to "ABOUT", about_path, class: "footer-about__txt" %>
      </div>
    </section>
    <section class="section-right">
      <div class="footer-sign">
        <%= image_tag("sign.png", class: "footer-sign__img") %>
      </div>
      <div class="footer-copyrights">
        <%= image_tag("copyrights.png", class: "footer-copyrights__img") %>
      </div>
    </section>
  </div>
</footer>