<header>
  <div class="header-logo">
    <%= link_to "logo-img", root_path, class: "header-logo__img" %>
    <%# <%= link_to image_tag("img_logo.png", class:"image_switch"), root_path %> 
  </div>
  <div class="header-search">
    <%# <input class="header-search__input">
    <input class="header-search__btn"> %>
  </div>
  <div class="header-post">
    <%= link_to "Post", root_path, class: "header-post__link" %>
  </div>
  <div class="header-login">
    <%= link_to "Login", root_path, class: "header-login__link" %>
  </div>
</header>