<header>
  <div class="header-logo">
    <%= link_to image_tag("https://picsum.photos/100/100", class:"header-logo__img"), root_path %>
  </div>
  <div class="header-search">
    <%# <input class="header-search__input">
    <input class="header-search__btn"> %>
  </div>
  <div class="header-post">
    <%= render 'posts/post_form' %>
  </div>
  <div class="header-login">
    <%= link_to "Login", new_user_session_path, class: "header-login__link" %>
  </div>
</header>