<aside>
   <nav class="nav-top">
     <ul class="nav-top__list">
     <li class="nav-top__list-post">
        <div class="list-post">
          <span class="list-post__txt">Post</span>
          </div>
        </li>
        <li class="nav-top__list-home">
          <div class="list-home">
          <span class="list-home__mark">◆</span>
          <span class="list-home__txt">Home</span>
          </div>
        </li>
        <li class="nav-top__list-mypage">
          <div class="list-mypage">
          <span class="list-mypage__mark">◆</span>
          <span class="list-mypage__txt">My Page</span>
          </div>
        </li>
        <li class="nav-top__list-signup">
          <div class="list-signup">
          <span class="list-signup__mark">◆</span>
          <span class="list-signup__txt">Sign Up</span>
          </div>
        </li>
        <li class="nav-top__list-login">
          <div class="list-signup">
          <span class="list-login__mark">◆</span>
          <span class="list-login__txt">Login</span>
          </div>
        </li>
      </ul>
    </nav>
    <nav class="nav-category">
    </nav>
    <nav class="nav-tag">
    </nav>
</aside>